:root {
	--dark: #292524;
	--gray: #A8A29E;
	--light: #F5F5F4;
}

body {
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 1fr 15fr;
}

.sideBar {
	grid-row: 1 / 4;
	background-color: var(--dark);
	color: var(--light);
}

.header {
	padding: 10px;
	background-color: var(--light);
	grid-row: 1 / 3;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 3;
}

.searchBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.search {
	display: flex;
	gap: 5px;
}

.searchBar ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.consoleProfile{
	display: flex;
	gap: 1rem;
	align-items: center;
}

.name {
	font-weight: 800;
	font-size: 1.6rem;
}

.greeting {
	font-weight: 800;
}

.consoleBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cardsContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minxmax(15rem, 1fr));
	background-color: var(--light);
}

.card {
	background-color: var(--gray);
}
