:root {
	--dark: #292524;
	--gray: #A8A29E;
	--light: #F5F5F4;
	--boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-family: poppins;
	font-size: calc(0.600rem + 0.4vw);
}

body {
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 1fr 15fr;
}

.sideBar {
	grid-row: 1 / 4;
	background-color: var(--dark);
	color: var(--light);
}

/* ---------Header Content----------*/
.header {
	padding: 10px;
	background-color: var(--light);
	grid-row: 1 / 3;
	box-shadow: var(--boxShadow);
	z-index: 3;
}

.searchBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}

.consoleProfile img {
	border-radius: 50%;
	height: 5rem;
	width: 5rem;
}

.searchBar img {
	height: 2rem;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.bell {
	height: 2rem;
}

#berries {
	border-radius: 50%;
	height: 3rem;
	width: 3rem;
}

.search {
	display: flex;
	gap: 5px;
	align-items: center;
}

.searchField {
	flex: 1;
	border-radius: 20px;
	background-color: var(--gray);
	border: none;
	width: 30rem;
}

input:focus {
	outline: none;
	border: 2px solid var(--dark);
}

.searchBar ul {
	display: flex;
	justify-content: space-around;
	gap: 0.5rem;
	align-items: center;
}

.consoleProfile{
	display: flex;
	gap: 1rem;
	align-items: center;
}

.name {
	font-weight: 800;
	font-size: 1.6rem;
}

.greeting {
	font-weight: 800;
}

.consoleBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.consoleButtons {
	display: flex;
	gap: 2rem;
	justify-content: space-around;
	margin-right: 1rem;
}

/* ----------Main Content----------*/
.mainContent {
	display: grid;
	grid-template-columns: 2fr 1fr;
	margin-left: 10px;
	margin-top: 20px;
	background-color: var(--light);
	gap: 2rem;
}

.cardsContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(200px, 24rem));
	gap: 2rem;
	background-color: var(--light);
}

.card {
	border-radius: 10px;
	padding: 1rem 1rem 0;
	background-color: var(--gray);
	box-shadow: var(--boxShadow);
}

.cardsContainer .card {
	border-left: 10px solid var(--dark);
}

.card:hover {
	-webkit-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: scale(1.01);
			transform: scale(1.01);
}

.shareButtons {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	height: 2rem;
}

/* Aside specific stuff */

.aside {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background-color: var(--light);
}

.aside .card .endCap {
	border-bottom: 0px;
}

.aside .card div {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-bottom: 1rem;
	border-bottom: 1px solid var(--dark);
}

.card h4, .card p {
	padding: 0px;
	margin: 0px;
}

.card p {
	padding-bottom: 1rem;
}

/* ------Side Bar------- */
.sideBar {
	padding: 1rem;
}

.userOptions {
	display: grid;
	grid-template-rows: auto auto 1fr;
}


.userOptions ul {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-bottom: 4rem;
}

.userOptions h1, .userOptions li {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.userOptions li {
	gap: 1.2rem;
}

.userOptions h1 img{
	height: 3.5rem;
}

.userOptions li img {
	height: 2rem;
	color: var(--light);
}